$base-font-family: "Poppins", sans-serif;
$green:#558063;
$light:#fff;
$navc: #333;
$things: #242424;
$gray:#767676;
$fontw:400;
$textf: rgba(255,255,255,0.6);
$border: rgba(255, 255, 255, .5);
$hovergray: rgb(51 51 51 / 65%);